# Dossiers
/node_modules
/build

# Fichiers
.env
.DS_Store

# Logs et fichiers de debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Fichiers de configuration d'éditeur
.vscode/
.idea/

# Fichiers générés à la construction
dist/
out/
